@layer reset, base, tokens, recipes, utilities;

@font-face {
	src: url("./assets/AyerPoster-Medium.woff2") format("woff2");
	font-family: "Ayer Poster";
	font-style: normal;
	font-weight: 500;
}

body {
	block-size: 100svh;
	padding: 34px;
	font-family: "Inter Variable", sans-serif;
	font-size: 16px;
	font-weight: 500;
	background-color: #ffd863;
}

a {
	color: #000;
	text-decoration: underline;
}

input[type="range"] {
	appearance: none;
	outline: 0;
	display: block;
	block-size: 2px;
	inline-size: 100%;
	border-radius: 5px;
	background-color: #000;
}

input[type="range"]::-webkit-slider-thumb {
	cursor: pointer;
	appearance: none;
	block-size: 25px;
	inline-size: 25px;
	border-radius: 50%;
	background-color: #000;
	transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
	transform: scale(1);
}
